---
layout: page
title: 태그
permalink: /tags/
---
{% assign tags = site.tags | sort %}
{% if tags.size > 0 %}
  {% for tag in tags %}
  <div class="tag-group" id="{{ tag[0] | slugify }}">
    <h2>{{ tag[0] }} <span style="color:var(--text-faint); font-weight:400;">({{ tag[1].size }})</span></h2>
    <ul>
      {% for post in tag[1] %}
      <li><time>{{ post.date | date: "%Y-%m-%d" }}</time><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% else %}
<p class="empty-state">태그가 아직 없습니다.</p>
{% endif %}
